.bigCard {
   position: relative;
   max-width: 630px;
   // background-color: #fff;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   row-gap: 16px;
   padding: 0 0.625rem;
   &__img {
      max-width: 630px;
      min-width: 200px;
      margin: 0 auto;
      flex: 1 1 auto;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   &__content {
      // background-color: gold;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bigCard__title {
         flex: 0 1 auto;
      }
      .bigCard__text {
         flex: 1 1 auto;
         // background-color: green;
      }
      .bigCard__date {
         flex: 0 1 auto;
      }
   }
}

@media (max-width: 29.375rem) {
   .bigCard {
      padding: 2rem 0.3125rem 0px;
      flex-direction: column-reverse;
   }
}
