.cardWithPhoto {
   max-width: 790px;
   // background-color: rgb(237, 244, 237);
   display: flex;
   column-gap: 1.3125rem;
   border-bottom: 0.125rem solid #e0e0e0;
   padding-bottom: 1.0625rem;
   justify-content: start;
   &:not(:first-child) {
      padding-top: 1.375rem;
   }

   &__img {
      max-width: 50%;
      min-width: 211px;
      img {
         width: 100%;
         // height: 100%;
         object-fit: cover;
      }
   }
   &__content {
      flex: 1 1 minmax(400px, auto);
      display: flex;
      flex-direction: column;
      .cardWithPhoto__text {
         flex: 1 1 auto;
      }
   }
}

@media (max-width: 29.375rem) {
   .cardWithPhoto {
      flex-direction: column-reverse;
      row-gap: 0.625rem;
      padding: 0 0.3125rem;
      align-content: center;
      &__img {
         max-width: 100%;
      }
   }
}
